/* * {
  border: 3px solid red;
} */

h1, h2, h3, body, p {
  margin: 0;
}

.profileimg {
  height: 250px;
  width: 250px;
  border: 3px solid rgba(116, 200, 221, 0.548);
  border-radius: 50%;
  padding: 5px;
  margin-bottom: -100px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  
}

h1 span {
  font-weight: bold;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  font-family: "Playfair Display", serif;
}

header p {
  font-size: 24px;
  padding-left: 3px;
  }

.t60 {
  color: rgba(0, 0, 0, 0.6);
}

header {
  background-color: honeydew;
  padding: 16px 54px;
}

body {
  background-color: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
}

.divheader {
  display: inline-block;
  margin: 0 0 10px 30px;
}

main {
  padding: 20px 30px;
  display: flex;
}

.colunamenor {
  margin-top: 90px;
  width: 340px;
}

.linha {
  margin-top: 5px;
  width: 80px;
  border-top: 2px solid;
}

.experiencias .linha {
  border-color: rgb(0, 140, 186)
}

.formacao .linha {
  border-color: rgb(0, 186, 155)
}

.colunamenor img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  margin-right: 8px;
}

.colunamenor li {
  display: flex;
  margin-top: 32px;
}

.colunamenor li {
  display: flex;
}

.conteudo {
  display: inline-block;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

.periodo {
  font-size: 17px;
}

.formacao {
  margin-top: 32px;
}

.colunamaior {
margin-left: 24px;

}

.habilidades h2 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 54px;
}

.conthab h3 {
  margin-bottom: 12px;
  font-size: 28px;
  font-weight: bold;
}

.conthab p {
  font-size: 20px;
  
}


.conthab {
  background-color: white;
  border-radius: 10px;
  padding: 16px;
  margin: 12px;
  width: 280px;
}

.progresso {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.nome {
  margin-top: 30px;
  margin-bottom: 10px;
}

.conthab li:first-child {
  margin-top: 0px;
}

.barra0 {
  width: 20%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.39);
}

.barra1 {
  width: 20%;
  height: 4px;
  background-color: black;
}

.containercards {
  display: flex;
  justify-content: space-between;
}